#root {
    text-align: center;
    margin-top: 2rem;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
    margin-top: 2rem;
}

.list-group {
    width: 30%;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: left;
}

#add:hover {
    background-color: rgba(128, 128, 128, 0.521);
    transition: .5s;
}