<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <!-- bootstraap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <!-- fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' integrity='sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==' crossorigin='anonymous'/>
    <!-- stile -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- script -->
    <script src="js/data.js"></script>
    <script src="js/main.js" defer></script>
</head>
<body>

    <div id="root">
        <header class="d-flex align-items-center justify-content-center gap-2">
            <img src="Logo.png" alt="boolean logo" id="logo">
            <h1> Boolean</h1>
        </header>

        <h2>Cose da fare</h2>

        <ul class="list-group">
            <li v-for="task in tasks" class="list-group-item d-flex justify-content-between" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="task.done">
                    <label :class="{'text-decoration-line-through' : task.done}">
                        {{task.text}}
                    </label>
                </div>
                <button type="button" class="btn-close" @click="removeTask(task.id)"></button>
            </li>
            <li class="list-group-item"><div class="input-group flex-nowrap">
                <input autofocus type="text" class="form-control" placeholder="Aggiungi task" v-model.trim="newTaskText" @keyup.enter="addTask">
              <span id="add" type="button" class="input-group-text " @click="addTask"><i class="fa-solid fa-plus"></i></span>
            </div></li>
          </ul>
          
        <h2 v-if="!tasks.length">Non ci sono tasks</h2>

    </div>


</body>
</html>